<div class="d-flex h-25 my-5 justify-content-center  justify-content-lg-start">
  <div>
    <a href="/" class="white-text">
      <img src="/images/torii-gate_backhome.png" class="imglinkhome" alt="Home" />
    </a>
  </div>
  <div class="align-self-center"><i class="fa-solid fa-xl fa-backward"></i>&nbsp;Back home</div>
</div>