<title>Anime gate</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/46b117b220.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/styles/style.css">
<link rel="icon" type="image/x-icon" href="/images/torii-gate.png">