<section class="mb-5">
  <div class="row justify-content-md-center justify-content-lg-start">
    <div class="col-md-10 ">
      <form class="d-flex" action="/search" method="POST">
        <div class=" input-group">
          <input class="form-control form-control-lg" type="search" autocomplete="off" placeholder="Search..." aria-label="Search..." id="animeInput" name="animeInput">
          <button class="btn btn-secondary px-4" type="submit">
            <i class="fa-solid fa-magnifying-glass fa-lg"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</section>