@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --white: aliceblue;
    --black: #212534;
    --grey: #6d707bf3;
}

body {
    background: var(--black);
    color: var(--white);
}

.greybkgd {
    background-color: var(--grey);
}

.card {
    height: 100%;
}

.img-div {
    position: relative;
    text-align: center;
    color: black;
}

.text-on-img {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 250px;
}

.img-div .wallpaper {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.title {
    font-weight: bold;
    font-family: "Sour Gummy", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1.title {
    font-size: clamp(20px, 5vw, 50px);
}

h2.title {
     font-size: clamp(18px, 4vw, 36px);
 }


.black-text {
    color: var(--black);
}
.white-text {
    color: var(--white);
}

.form-control:focus {
    border-color: var(--white) !important;
    box-shadow: 0 0 5px var(--white)!important; 
}

a.genreslink {
    font-size: clamp(1.15rem, 1vw, 2rem);
}
a.genreslink:hover,a.genreslink:focus {
    color: var(--white) !important;
    text-decoration: underline dashed var(--white);
}

a, a:visited, a.iconlink, a.iconlink:visited {
    color: var(--white);
    text-decoration: none;
}

.imglinkhome {
    width: 200px;
    height: auto;
    color: var(--white);
    margin-right: 0px;
    transform: ease;
    transition: all 500ms;
    
}

.imglinkhome:hover {
    width: 200px;
    height: auto;
    margin-right: 8px;
    color: var(--white);
    transform: scale(1.1);
}

ul {
    list-style-type: none;
}

li {
    padding-bottom: 0.25rem;
}

a.iconlink:hover, a.iconlink:focus {
    color: var(--grey) !important;
}

.list-group-item {
    background-color: inherit;
    border: none;
    padding: 0;
    padding-left: 0.25rem;
}

.animeul {
    padding-left: 0.25rem;
}
@media only screen and (max-width: 992px) {
    .text-on-img {
        position: absolute;
        background-color: rgb(239,239,239);/* Fallback color */
        background-color: rgba(239, 239, 239, 0.4);
        top: 37%;
        left: 34%;
        width: 20rem;
    }
         h6.title,
         h6.card-title {
             font-size: 2vw;
         }
}